# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Ambientes virtuais
# ===============================
venv/
env/
.venv/

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Banco de dados
# ===============================
data/*.db
*.sqlite
*.sqlite3

# ===============================
# IDEs e editores
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs e temporários
# ===============================
*.log
*.tmp

# ===============================
# Outros
# ===============================
.env
